// Наши стили
@size: 16px;
@lightgrey: #99AAB5;
@grey: #36393F;
@darkgrey: #2F3136;
@black: #000000;
@red: #F04747;
@yellow: #FAA61A;
@blue: #7289DA;
@green: #43B581;
@lime: #44DDBF;
@purple: #9B84EE;
@pink: #FF73FA;
@orange: #F57731;
@white: #FFFFFF;

.main-table {
    height: 100%;
    width: 100%;
    background-color: @grey;
}

.scroll {
    height: 935px;
    overflow-y: auto;
}

table {
    width: 100%;
    box-sizing: border-box;
    color: white; 
    padding: 15px;
    border-collapse: collapse;
    border-bottom: 2px solid @darkgrey;
    & input{
        width: 100%;
        height: 100%;
        background-color: @grey;
        color: white;
    }
    & select {
        height: 100%;
        background-color: @grey;
        color: white;
    }    
    > thead { 
        >tr {
            transition: background 0.5s; 
            >td, th {
                padding: 5px 10px;
                border-top: 2px solid @darkgrey;
                transition: 0.5s; 
                text-align: center;
                &:not(:nth-child(1)) {
                    border-left: 2px solid @darkgrey;
                    transition: 0.5s; 
                }
                >input[type="text"] {
                    padding-left: 5px;
                }
                >textarea{
                    background-color: @grey;
                    color: white;
                }
                >select {
                    &.actual{
                        >option[value="0"]
                        {
                            color: @red;
                        }
                        >option[value="1"]
                        {
                            color: @green;
                        }
                    }
                }
            }
            >th {
                color: @blue;
            }
        }
    }
    >tbody {
        >tr {
            transition: background 0.5s; 
            >td {
                padding: 5px 15px;
                border-top: 2px solid @darkgrey;
                transition: 0.5s; 
                text-align: center;
                &:not(:nth-child(1)) {
                    border-left: 2px solid @darkgrey;
                    transition: 0.5s; 
                }
                >img {
                    height: 70px;
                }
            }
            &:hover {
                background: @blue;
            }
        }
    }
}

.product-thumb {
    > .image {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        > a > img {
            width: 100px;
        }
    }
}

#korzina li{
    display: flex;
}

.del_elem{
    margin-left: 8px;
    color: red;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid silver;
    border-radius: 4px;
    height: 26px;
    padding: 2px;
}

.del_elem:hover{
    opacity: 0.7;
}

.show_cat{
    display: block !important;
}

.drop-icon-info{
    background: none !important;
}

.connect_php {
    z-index: 223231231;
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 300px;
    border: 3px solid grey;
    border-radius: 5px;
    background-color: @grey;
    color: white;
    animation: hidden 2s ease;
    visibility: hidden;
    &.good {
        border: 3px solid #43B581;
        color: #43B581;
    }
    @keyframes hidden {   
        0% {
            display: flex;
            opacity: 1;
            visibility:visible;
          }
        40% {
            opacity: 1;
        } 
        100% {
            opacity: 0;
            visibility:hidden;
        }
    }
}

.buy-hidden {
    opacity: 0.7;
    filter: blur(4px);
}

.ebat {
    display: none;
}

.modalka-buy button.btn-callback {
    background-color: #47c843;
    border-color: #2cad28;
    border-style: solid;
    border-width: 1px 1px 2px;
    color: #fff;
    font-size: 13px;
    padding: 8px 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.modalka-buy button.btn-callback:hover {
    opacity: 0.8;
    font-weight: 700;
}

@media (max-width: 800px) {
    .modalka-buy {
        width: auto;
        left: 10;
    }
}

.item_hidden{
    display: none;
}

.hide {
    display: block;
}

.product-thumb:hover {
    box-shadow: 0 3px 9px rgb(0 0 0 / 20%);
}

.modal-yey {
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
}

.quantity_price {
    display: flex;
    padding-top: 10px;
    justify-content: center;
    &_sum {
        min-width: 50%;
        font-weight:bolder;
        white-space: nowrap;
        overflow: hidden;
    }
}

.display-table-cell > h5 {
    font-size: medium;
}

// Стили сайта

@media (min-width: 992px) {
    #column-left {
        margin-top: 320px;
    }
};

@media (min-width: 992px) {
    #menu-header-open {
        min-height: 368px;
    }
}

@font-face {
    font-display: swap;
    font-family: "Roboto Condensed";
    src: url('../catalog/view/theme/newstore/stylesheet/fonts/RobotoCondensed-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-family: 'FontAwesome';
    src: url('../catalog/view/theme/newstore/font-awesome/fonts/fontawesome-webfont3e6e.eot?v=4.7.0');
    src: url('../catalog/view/theme/newstore/font-awesome/fonts/fontawesome-webfontd41d.eot?#iefix&v=4.7.0') format('embedded-opentype'), 
    url('../catalog/view/theme/newstore/font-awesome/fonts/fontawesome-webfont3e6e.woff2?v=4.7.0') format('woff2'), 
    url('../catalog/view/theme/newstore/font-awesome/fonts/fontawesome-webfont3e6e.woff?v=4.7.0') format('woff'), 
    url('../catalog/view/theme/newstore/font-awesome/fonts/fontawesome-webfont3e6e.ttf?v=4.7.0') format('truetype'), 
    url('../catalog/view/theme/newstore/font-awesome/fonts/fontawesome-webfont3e6e.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-display: swap;
    src: url('../catalog/view/theme/newstore/stylesheet/fonts/RobotoCondensed-Bold.ttf');
    font-style: bold;
    font-weight: 600;
}

@font-face {
    font-display: swap;
    font-family: 'Marck Script';
    src: url('../catalog/view/theme/newstore/stylesheet/fonts/MarckScriptRegular.ttf');
}

#cart:hover .dropdown-menu {
    display: block;
}

#cart:hover .dropdown-menu:before {
    content: "";
    position: absolute;
    top: -7px;
    width: 100%;
    height: 9px;
    background: transparent;
}

#cart:hover .car-down {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.product-grid.grid4.col-1 .actions .cart .btn-general {
    padding: 7.5px 6px;
}

.product-grid.grid4.col-1 .actions .cart i {
    display: none;
}

.product-grid.grid4.col-lg-1-5 .actions .cart .btn-general {
    padding: 7.5px 6px;
}

.product-grid.grid4.col-lg-1-5 .actions .cart i {
    display: none;
}

.sticker-ns.popular .fa {
    color: #000000
}

.sticker-ns.popular {
    background: #012af4 none repeat scroll 0 0;
    color: #000000;
}

.sticker-ns.special .fa {
    color: #000000
}

.sticker-ns.special {
    background: #000000 none repeat scroll 0 0;
    color: #000000;
}

.sticker-ns.bestseller .fa {
    color: #000000
}

.sticker-ns.bestseller {
    background: #30db00 none repeat scroll 0 0;
    color: #000000;
}

.sticker-ns.newproduct .fa {
    color: #000000
}

.sticker-ns.newproduct {
    background: #000000 none repeat scroll 0 0;
    color: #000000;
}

.htop-b-pc img {
    margin: 0 auto;
}

#phone i {
    margin-right: 5px !important;
}

.popular,
.popular i {
    color: white !important;
    font-weight: 500;
}

.popular i {
    margin-right: 3px;
    margin-bottom: 3px;
}