.main-table {
  height: 100%;
  width: 100%;
  background-color: #36393F;
}
.scroll {
  height: 935px;
  overflow-y: auto;
}
table {
  width: 100%;
  box-sizing: border-box;
  color: white;
  padding: 15px;
  border-collapse: collapse;
  border-bottom: 2px solid #2F3136;
}
table input {
  width: 100%;
  height: 100%;
  background-color: #36393F;
  color: white;
}
table select {
  height: 100%;
  background-color: #36393F;
  color: white;
}
table > thead > tr {
  transition: background 0.5s;
}
table > thead > tr > td,
table > thead > tr th {
  padding: 5px 10px;
  border-top: 2px solid #2F3136;
  transition: 0.5s;
  text-align: center;
}
table > thead > tr > td:not(:nth-child(1)),
table > thead > tr th:not(:nth-child(1)) {
  border-left: 2px solid #2F3136;
  transition: 0.5s;
}
table > thead > tr > td > input[type="text"],
table > thead > tr th > input[type="text"] {
  padding-left: 5px;
}
table > thead > tr > td > select.actual > option[value="0"],
table > thead > tr th > select.actual > option[value="0"] {
  color: #F04747;
}
table > thead > tr > td > select.actual > option[value="1"],
table > thead > tr th > select.actual > option[value="1"] {
  color: #43B581;
}
table > thead > tr > th {
  color: #7289DA;
}
table > tbody > tr {
  transition: background 0.5s;
}
table > tbody > tr > td {
  padding: 5px 15px;
  border-top: 2px solid #2F3136;
  transition: 0.5s;
  text-align: center;
}
table > tbody > tr > td:not(:nth-child(1)) {
  border-left: 2px solid #2F3136;
  transition: 0.5s;
}
table > tbody > tr > td > img {
  height: 70px;
}
table > tbody > tr:hover {
  background: #7289DA;
}
.product-thumb > .image {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-thumb > .image > a > img {
  width: 100px;
}
.connect_php {
  z-index: 223231231;
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 300px;
  border: 3px solid grey;
  border-radius: 5px;
  background-color: #36393F;
  color: white;
  animation: hidden 2s ease;
  visibility: hidden;
}
.connect_php.good {
  border: 3px solid #43B581;
  color: #43B581;
}
@keyframes hidden {
  0% {
    display: flex;
    opacity: 1;
    visibility: visible;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.modalka-buy {
  display: block;
  opacity: 1;
  background-color: #f9f9f9;
  border: 1px solid #dfe4eb;
  border-radius: 4px;
  width: 600px;
  height: 520px;
  position: absolute;
  top: 50%;
  left: 25%;
  z-index: 32131;
}
.modalka-buy #close-call {
  color: black;
  z-index: 21321;
  font-size: 49px;
}
.buy-hidden {
  opacity: 0.7;
  filter: blur(4px);
}
.ebat {
  display: none;
}
.modalka-buy button.btn-callback {
  background-color: #47c843;
  border-color: #2cad28;
  border-style: solid;
  border-width: 1px 1px 2px;
  color: #fff;
  font-size: 13px;
  padding: 8px 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.modalka-buy button.btn-callback:hover {
  opacity: 0.8;
  font-weight: 700;
}
@media (max-width: 800px) {
  .modalka-buy {
    width: auto;
    left: 10;
  }
}
.item_hidden {
  display: none;
}
.hide {
  display: block;
}
.product-thumb:hover {
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
}
@media (min-width: 992px) {
  #column-left {
    margin-top: 320px;
  }
}
@media (min-width: 992px) {
  #menu-header-open {
    min-height: 368px;
  }
}
@font-face {
  font-display: swap;
  font-family: "Roboto Condensed";
  src: url('../catalog/view/theme/newstore/stylesheet/fonts/RobotoCondensed-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-family: 'FontAwesome';
  src: url('../catalog/view/theme/newstore/font-awesome/fonts/fontawesome-webfont3e6e.eot?v=4.7.0');
  src: url('../catalog/view/theme/newstore/font-awesome/fonts/fontawesome-webfontd41d.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../catalog/view/theme/newstore/font-awesome/fonts/fontawesome-webfont3e6e.woff2?v=4.7.0') format('woff2'), url('../catalog/view/theme/newstore/font-awesome/fonts/fontawesome-webfont3e6e.woff?v=4.7.0') format('woff'), url('../catalog/view/theme/newstore/font-awesome/fonts/fontawesome-webfont3e6e.ttf?v=4.7.0') format('truetype'), url('../catalog/view/theme/newstore/font-awesome/fonts/fontawesome-webfont3e6e.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-display: swap;
  src: url('../catalog/view/theme/newstore/stylesheet/fonts/RobotoCondensed-Bold.ttf');
  font-style: bold;
  font-weight: 600;
}
@font-face {
  font-display: swap;
  font-family: 'Marck Script';
  src: url('../catalog/view/theme/newstore/stylesheet/fonts/MarckScriptRegular.ttf');
}
#cart:hover .dropdown-menu {
  display: block;
}
#cart:hover .dropdown-menu:before {
  content: "";
  position: absolute;
  top: -7px;
  width: 100%;
  height: 9px;
  background: transparent;
}
#cart:hover .car-down {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.product-grid.grid4.col-1 .actions .cart .btn-general {
  padding: 7.5px 6px;
}
.product-grid.grid4.col-1 .actions .cart i {
  display: none;
}
.product-grid.grid4.col-lg-1-5 .actions .cart .btn-general {
  padding: 7.5px 6px;
}
.product-grid.grid4.col-lg-1-5 .actions .cart i {
  display: none;
}
.sticker-ns.popular .fa {
  color: #000000;
}
.sticker-ns.popular {
  background: #012af4 none repeat scroll 0 0;
  color: #000000;
}
.sticker-ns.special .fa {
  color: #000000;
}
.sticker-ns.special {
  background: #000000 none repeat scroll 0 0;
  color: #000000;
}
.sticker-ns.bestseller .fa {
  color: #000000;
}
.sticker-ns.bestseller {
  background: #30db00 none repeat scroll 0 0;
  color: #000000;
}
.sticker-ns.newproduct .fa {
  color: #000000;
}
.sticker-ns.newproduct {
  background: #000000 none repeat scroll 0 0;
  color: #000000;
}
.htop-b-pc img {
  margin: 0 auto;
}
#phone i {
  margin-right: 5px !important;
}
.popular,
.popular i {
  color: white !important;
  font-weight: 500;
}
.popular i {
  margin-right: 3px;
  margin-bottom: 3px;
}
